:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --red: red;
  --green: green;
  --blue: rgb(48, 48, 246);
  --black: black;
}

@font-face {
  font-family: aeonik;
  src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
  font-weight: 200;
}
@font-face {
  font-family: aeonik;
  src: url(./fonts/fonnts.com-Aeonik-Bold.ttf);
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f8f4e1;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*scrollbar-background*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.523);
  border-radius: 20px;
}

#main {
  height: 130%;
  width: 100%;
  background-color: var(--sec);
  font-family: aeonik;
  /*Theme Change*/
  /*Daily-Planner*/
  /*Motivational Container*/
  /*Motivational fullpage*/
  /*Pomodoro-fullpage*/
  /*Daily-Goals*/
}
#main nav {
  height: 60px;
  width: 100%;
  padding: 40px;
}
#main nav .nav-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 3rem;
  background-color: var(--tri2);
}
#main nav .nav-in .theme {
  background-color: var(--pri);
  border-radius: 5%;
  padding: 8px 8px;
  border-radius: 5rem;
}
#main nav .nav-in .theme h4 {
  color: var(--sec);
  font-size: 1rem;
}
#main .allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  overflow: hidden;
  position: absolute;
}
#main .allElems header {
  background-image: url(https://images.unsplash.com/photo-1601524544616-756e266ef659?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
#main .allElems header .header1 h2 {
  font-size: 2rem;
  font-weight: 200;
}
#main .allElems header .header1 h1 {
  font-size: 5rem;
  margin-bottom: 40px;
}
#main .allElems header .header1 h4 {
  font-size: 3rem;
  font-weight: 200;
}
#main .allElems header .header2 h2 {
  font-size: 2.5rem;
}
#main .allElems header .header2 h4 {
  font-size: 2.5rem;
  font-weight: 200;
  opacity: 0.8;
  margin-bottom: 30px;
}
#main .allElems header .header2 h3 {
  font-size: 1.5rem;
  font-weight: 200;
  opacity: 0.8;
}
#main .allElems .allFeatures {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}
#main .allElems .elem {
  height: 350px;
  width: 260px;
  background-color: var(--tri1);
  border-radius: 10px;
  font-size: 30px;
  color: white;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px var(--black);
}
#main .allElems .elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .allElems .elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 30px;
}
#main .allElems .elem:active {
  scale: 0.97;
}
#main .fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
}
#main .fullElem .back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  color: #f8f4e1;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
#main .fullElem h2 {
  font-size: 40px;
}
#main .fullElem .back:active {
  scale: 0.97;
}
#main .todo-list-fullpage {
  margin-top: 40px;
}
#main .todo-list-fullpage .todo-list-fullpage,
#main .todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main .todo-list-fullpage .todo-list-fullpage .addTask,
#main .todo-list-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
}
#main .todo-list-fullpage .todo-list-fullpage .allTask,
#main .todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
#main .todo-list-fullpage .todo-list-fullpage form,
#main .todo-list-fullpage .todo-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
#main .todo-list-fullpage .todo-list-fullpage form #task-input,
#main .todo-list-fullpage .todo-container form #task-input {
  width: 100%;
  padding: 15px 25px;
  font-size: 28px;
  font-weight: 200;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
#main .todo-list-fullpage .todo-list-fullpage form textarea,
#main .todo-list-fullpage .todo-container form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  font-weight: 200;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
#main .todo-list-fullpage .todo-list-fullpage form button,
#main .todo-list-fullpage .todo-container form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 26px;
  background-color: var(--tri1);
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  transition: all ease 0.3s;
  cursor: pointer;
}
#main .todo-list-fullpage .todo-list-fullpage form button:active,
#main .todo-list-fullpage .todo-container form button:active {
  scale: 0.96;
}
#main .todo-list-fullpage .todo-list-fullpage .task,
#main .todo-list-fullpage .todo-container .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#main .todo-list-fullpage .todo-list-fullpage .task h5,
#main .todo-list-fullpage .todo-container .task h5 {
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
#main .todo-list-fullpage .todo-list-fullpage .task span,
#main .todo-list-fullpage .todo-container .task span {
  background-color: var(--red);
  color: var(--pri);
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 10px;
}
#main .todo-list-fullpage .todo-list-fullpage .task span.true,
#main .todo-list-fullpage .todo-container .task span.true {
  opacity: 1;
}
#main .todo-list-fullpage .todo-list-fullpage .task span.false,
#main .todo-list-fullpage .todo-container .task span.false {
  opacity: 0;
}
#main .todo-list-fullpage .todo-list-fullpage .task button,
#main .todo-list-fullpage .todo-container .task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: var(--green);
  font-size: 15px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
}
#main .todo-list-fullpage .todo-list-fullpage .mark-imp,
#main .todo-list-fullpage .todo-container .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 20px;
}
#main .todo-list-fullpage .todo-list-fullpage .mark-imp input,
#main .todo-list-fullpage .todo-container .mark-imp input {
  scale: 1;
}
#main .todo-list-fullpage .todo-list-fullpage .mark-imp label,
#main .todo-list-fullpage .todo-container .mark-imp label {
  font-size: 19px;
  font-weight: 200;
}
#main .daily-planner-fullpage {
  margin-top: 40px;
}
#main .daily-planner-fullpage h2 {
  font-size: 60px;
}
#main .daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
  padding: 30px;
}
#main .daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}
#main .daily-planner-fullpage .day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  font-size: 16px;
  color: var(--tri1);
}
#main .daily-planner-fullpage .day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  font-size: 32px;
  padding-top: 34px;
  outline: none;
}
#main .motivation-fullPage-container {
  /*Main-wrapper*/
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .motivational-fullpage {
  margin-top: 40px;
  position: relative;
}
#main .motivational-fullpage .motivation-container {
  height: 400px;
  width: 80%;
  background-color: var(--tri2);
  border-radius: 50px;
  position: relative;
}
#main .motivational-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--pri);
  border-radius: 30px;
  padding: 17px;
}
#main .motivational-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  right: 5%;
  top: 5%;
  opacity: 0.2;
  height: 120px;
}
#main .motivational-fullpage .motivation-container .motivation-wrapper .motivation-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#main .motivational-fullpage .motivation-container .motivation-wrapper .motivation-1 h2 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: 500;
  text-align: right;
}
#main .motivational-fullpage .motivation-container .motivation-wrapper .motivation-2 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#main .motivational-fullpage .motivation-container .motivation-wrapper .motivation-2 h1 {
  font-size: 40px;
  font-weight: 200;
  color: var(--sec);
}
#main .motivational-fullpage .motivation-container .motivation-wrapper .motivation-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#main .motivational-fullpage .motivation-container .motivation-wrapper .motivation-3 h2 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  text-align: right;
}
#main .motivational-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri1);
  border-radius: 50px;
  scale: 1.15;
  z-index: 8;
  border-radius: 50px;
  filter: blur(100px);
}
#main .pomodoro-fullpage {
  position: relative;
  margin-top: 40px;
}
#main .pomodoro-fullpage h2 {
  font-size: 60px;
}
#main .pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 15px 40px;
  font-size: 30px;
  border-radius: 5px;
}
#main .pomodoro-fullpage .pomo-timer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#main .pomodoro-fullpage .pomo-timer h1 {
  font-size: 8rem;
}
#main .pomodoro-fullpage .pomo-timer button {
  background-color: var(--tri2);
  padding: 15px 40px;
  font-size: 2rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 0px var(--black);
  transition: all ease 0.1s;
  cursor: pointer;
}
#main .pomodoro-fullpage .pomo-timer button:active {
  box-shadow: 0px 0px 0px var(--black);
}
#main .daily-goals-fullpage {
  margin-top: 40px;
}
#main .daily-goals-fullpage .daily-goals-fullpage,
#main .daily-goals-fullpage .daily-goals-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main .daily-goals-fullpage .daily-goals-fullpage .addTask,
#main .daily-goals-fullpage .daily-goals-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
}
#main .daily-goals-fullpage .daily-goals-fullpage .allTask,
#main .daily-goals-fullpage .daily-goals-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
#main .daily-goals-fullpage .daily-goals-fullpage form,
#main .daily-goals-fullpage .daily-goals-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
#main .daily-goals-fullpage .daily-goals-fullpage form #task-input,
#main .daily-goals-fullpage .daily-goals-container form #task-input {
  width: 100%;
  padding: 15px 25px;
  font-size: 28px;
  font-weight: 200;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
#main .daily-goals-fullpage .daily-goals-fullpage form textarea,
#main .daily-goals-fullpage .daily-goals-container form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  font-weight: 200;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
#main .daily-goals-fullpage .daily-goals-fullpage form button,
#main .daily-goals-fullpage .daily-goals-container form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 26px;
  background-color: var(--tri1);
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  transition: all ease 0.3s;
  cursor: pointer;
}
#main .daily-goals-fullpage .daily-goals-fullpage form button:active,
#main .daily-goals-fullpage .daily-goals-container form button:active {
  scale: 0.96;
}
#main .daily-goals-fullpage .daily-goals-fullpage .task,
#main .daily-goals-fullpage .daily-goals-container .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#main .daily-goals-fullpage .daily-goals-fullpage .task h5,
#main .daily-goals-fullpage .daily-goals-container .task h5 {
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
#main .daily-goals-fullpage .daily-goals-fullpage .task span,
#main .daily-goals-fullpage .daily-goals-container .task span {
  background-color: var(--red);
  color: var(--pri);
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 10px;
}
#main .daily-goals-fullpage .daily-goals-fullpage .task span.true,
#main .daily-goals-fullpage .daily-goals-container .task span.true {
  opacity: 1;
}
#main .daily-goals-fullpage .daily-goals-fullpage .task span.false,
#main .daily-goals-fullpage .daily-goals-container .task span.false {
  opacity: 0;
}
#main .daily-goals-fullpage .daily-goals-fullpage .task button,
#main .daily-goals-fullpage .daily-goals-container .task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: var(--green);
  font-size: 15px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
}
#main .daily-goals-fullpage .daily-goals-fullpage .mark-imp,
#main .daily-goals-fullpage .daily-goals-container .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 20px;
}
#main .daily-goals-fullpage .daily-goals-fullpage .mark-imp input,
#main .daily-goals-fullpage .daily-goals-container .mark-imp input {
  scale: 1;
}
#main .daily-goals-fullpage .daily-goals-fullpage .mark-imp label,
#main .daily-goals-fullpage .daily-goals-container .mark-imp label {
  font-size: 19px;
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */